<!DOCTYPE html>
<html>
<head>
    <title>Dulceria Candice</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Inventario de Dulcería</h1>
    <form action="/agregar" method="post" class="form-grande">
        <label>Nombre:</label>
        <input type="text" name="nombre" class="input-grande" required>
        <label>Cantidad:</label>
        <input type="number" name="cantidad" class="input-grande" required min="0">
        <label>Precio:</label>
        <input type="number" name="precio" class="input-grande" required min="0">
        <label>Unidad de medida:</label>
        <select name="unidad_medida" class="input-grande" required>
            <option value="Gramos">Gramos</option>
            <option value="Unidad">Unidad</option>
            <option value="Miligramos">Miligramos</option>
            <option value="Kilos">Kilos</option>
            <option value="Tonelada">Tonelada</option>
        </select>
        <label>Trabajador:</label>
        <input type="text" name="trabajador_nombre" class="input-grande" required>
        <button type="submit" class="boton-grande">Agregar Producto</button>
    </form>
    {% if mensaje %}
        <div class="mensaje-exito">{{ mensaje }}</div>
    {% endif %}
    <a href="/listado"><button type="button">Ver Inventario Completo</button></a>

</body>
</html>