<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos - Dulcería Candice</title>
    <link rel="stylesheet" href="/static/styles_list.css">
</head>
<body>
    <div class="header-flex">
        <h1>Listado de Productos</h1>
        <a href="/descargar_pdf" class="boton-inferior boton-descargar">Descargar inventario en PDF</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
                <th>Precio</th>
                <th>Trabajador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.unidad_medida }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.trabajador.nombre if producto.trabajador else '' }}</td>
                <td style="white-space: nowrap;">
                    <form action="/editar/{{ producto.id }}" method="get" style="display:inline;">
                        <button type="submit" class="accion-btn">Editar</button>
                    </form>
                    <form action="/eliminar/{{ producto.id }}" method="post" style="display:inline;">
                        <button type="submit" class="accion-btn" onclick="return confirm('¿Seguro que deseas eliminar este producto?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% if mensaje == "eliminado" %}
            <div class="mensaje-exito">Producto eliminado correctamente</div>
        {% endif %}
        </tbody>
    </table>
    <div class="acciones-inferiores">
        <a href="/leer_inventario" class="boton-inferior">Volver al inicio</a>
        
    </div>
</body>
</html>